# Reading data

In [1]:
import pandas as pd


df = pd.read_csv("us_stocks.csv")
df["time"] = pd.to_datetime(df["date"])
df = df.loc[
    df["time"] >= pd.to_datetime("2000-01-01"),
    ["ticker", "time", "adj_open", "adj_high", "adj_low", "adj_close"],
].copy()
df.columns = ["ticker", "time", "open", "high", "low", "close"]
df.set_index(["ticker", "time"])

                      open     high      low    close
ticker time
ZUMZ   2018-03-27  24.6500  24.6500  23.3500  23.6000
       2018-03-26  23.7500  24.8000  23.7000  24.6500
       2018-03-23  23.5500  24.2000  23.4500  23.5500
       2018-03-22  23.9000  24.3500  23.3000  23.3500
       2018-03-21  23.8000  24.6000  23.6058  23.9500
       2018-03-20  23.1000  24.0000  22.9500  23.8000
       2018-03-19  22.1500  23.6500  22.1500  23.4000
       2018-03-16  20.4000  23.0000  19.3000  22.1000
       2018-03-15  19.7500  20.1500  19.4000  20.0000
       2018-03-14  20.1000  20.2000  19.1500  19.6000
       2018-03-13  19.9000  20.2000  19.7500  20.0000
       2018-03-12  19.5500  19.9500  19.5000  19.9000
       2018-03-09  20.3000  20.3500  19.4500  19.5500
       2018-03-08  20.3000  20.4500  19.8250  20.2500
       2018-03-07  20.7000  20.9000  19.9500  20.1000
       2018-03-06  20.3000  20.9500  20.2500  20.9000
       2018-03-05  20.1500  20.5000  19.9000  20.3500
       2018-03-02  19.5500  20.3000  19.2500  20.2000
       2018-03-01  19.6500  20.0000  19.1000  19.7000
       2018-02-28  20.0000  20.3500  19.7000  19.7000
       2018-02-27  20.7000  21.0000  19.7000  19.8000
       2018-02-26  20.3500  20.8000  20.1250  20.5500
       2018-02-23  19.9000  20.2500  19.6000  20.2500
       2018-02-22  19.5500  20.0000  19.3500  19.8000
       2018-02-21  19.3000  19.8500  19.3000  19.5000
       2018-02-20  19.9500  20.1000  19.2000  19.3000
       2018-02-16  20.0500  20.5500  20.0500  20.1000
       2018-02-15  20.3000  20.4000  19.5000  20.1000
       2018-02-14  19.2000  20.5500  19.2000  20.2500
       2018-02-13  19.0000  20.0000  19.0000  19.2000
...                    ...      ...      ...      ...
ZQK    2000-02-14   2.9525   2.9525   2.8900   2.9225
       2000-02-11   3.0000   3.0000   2.9075   2.9525
       2000-02-10   3.0475   3.0475   2.9225   2.9850
       2000-02-09   3.2200   3.2350   3.0000   3.0000
       2000-02-08   3.2500   3.3450   3.2350   3.2500
       2000-02-07   3.4375   3.4525   3.2200   3.2350
       2000-02-04   3.2500   3.4375   3.2500   3.4375
       2000-02-03   3.1250   3.2825   3.1250   3.2650
       2000-02-02   3.0625   3.0950   3.0000   3.0950
       2000-02-01   3.0000   3.0475   2.9525   3.0150
       2000-01-31   3.0000   3.0475   2.8900   3.0325
       2000-01-28   3.0150   3.0150   2.9075   2.9700
       2000-01-27   3.0150   3.0950   2.9850   3.0325
       2000-01-26   3.0625   3.1875   3.0625   3.0775
       2000-01-25   3.0325   3.0775   3.0000   3.0625
       2000-01-24   3.2350   3.2350   3.0150   3.0150
       2000-01-21   3.0000   3.2500   2.9700   3.2350
       2000-01-20   3.1400   3.1725   2.9075   2.9850
       2000-01-19   3.2650   3.2650   3.0950   3.1100
       2000-01-18   3.3750   3.3750   3.2650   3.2975
       2000-01-14   3.3600   3.3750   3.3275   3.3600
       2000-01-13   3.3900   3.4075   3.3450   3.3750
       2000-01-12   3.4700   3.4850   3.3750   3.4075
       2000-01-11   3.4525   3.5325   3.4525   3.4700
       2000-01-10   3.4850   3.5000   3.4225   3.4700
       2000-01-07   3.4700   3.5475   3.4375   3.4850
       2000-01-06   3.4850   3.5950   3.4700   3.4850
       2000-01-05   3.5150   3.5625   3.4850   3.4850
       2000-01-04   3.6575   3.6575   3.3900   3.5475
       2000-01-03   3.8450   3.8450   3.6875   3.7025

[8486 rows x 4 columns]